@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}



body {
    background-image: url("daisies.png");
    width: 100%;
}


/*HEADER*/

.container-header{
    background-color: #D8D4C8;
    height: 100px;
    width: 80%;
    border-radius: 10px;
}

.header-name {
    display: flex;
    font-family: 'Cairo Play', cursive;
    font-size: 20px;
    height: 50%;
    border-bottom: 0.2px solid #141211;
    justify-content: center;
    align-items: center;
}


.header-menu{    
}


.header-menu h3{
    display: none;
}

.header-menu-list {
    display: flex;
    
}

.header-menu ul {
    height: 40px;
    justify-content: center;
    align-items: center;
    /*position: absolute;*/
    
}

.header-menu ul li {
    list-style: none;
    /*display: inline;*/
    margin: auto;

}

.header-menu ul li a {
    text-decoration: none;
    color: #141211;
    
}

.header-menu ul li a:hover {
    color: #846F5E;
}

.header-menu ul li:hover {
    /*quero aumentar o tamanho do container*/
    border-radius: 10%;
    background-color: #474443;
}


/*USO COMUM*/
.interface-container{
    width: 80%;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 996px;
}


/*MAIN*/

.main {
    height: 400px;
    background-color: #B28D6C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.main-top{
    display: flex;
    justify-content: space-evenly;


}

.main-bottom{
    display: flex;
    padding: 20px;
    font-size: 14px;
    text-align: center;
    
}

.main-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: nowrap;
}

.main-content-content {
    font-size: 14px;
}

.main-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.about-me {
    height: 400px;
    background-color: #846F5E;
}

.projects {
    height: 400px;
    background-color: #D8D4C8;
}

.blog {
    height: 400px;
    background-color: #B28D6C;
}

.curriculum {
    height: 400px;
    background-color: #846F5E;

}

.contact {
    height: 400px;
    background-color: #D8D4C8;
}

